body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 80%;
    height: 80%;
    padding-top: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;
}


.swiper-slide img {
    display: block;
    border-radius: 10px;
    width: 100%;
    object-fit: contain;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0002, #0004);
}

@media screen and (min-width: 639px) {
    .swiper {
        visibility: hidden;
    }
}
